@keyframes gradient {
    0% {background-position: 0% 50%;}
    100% {background-position: 200% 50%;}
}

@media (max-width: 1080px) {
    .mobile-hide {
      display: none;
    }
  }


html, body{
    margin: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.navbar {
    z-index: 3;
    box-sizing: border-box;
    position: fixed;
    display: flex;
    width: 98vw;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins';
    font-weight: bold;
    border-style: solid;
    border-color: white;
    border-width: 0.5vh;
    border-radius: 5vh;
    padding-inline: 1vmax;
    margin-top: 3vh;
    box-shadow: 0 0 1vw rgba(255, 255, 255, 0.3);
}

.home, .works, .about {
    text-decoration: none;
}

.home {
    font-size: 3vh;
    align-items: left;
    background-image: repeating-linear-gradient(90deg, #4158D0, #C850C0, #FFCC70, #C850C0, #4158D0);
    background-size: 200% 200%;
    color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    animation: gradient 5s linear infinite;
    transition: text-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.right {
    display: flex;
    font-size: 2vh;
    color: white;
}

.works, .about {
    color: white;
    margin-inline: 1vw;
    font-size: 2vh;
    align-items: right;
    transition: text-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.home:hover{
    cursor: pointer;
    transform: scale(1.005);
    text-shadow: 0 0 1vw rgba(255, 255, 255, 0.5);
}

.works:hover, .about:hover {
    cursor: pointer;
    transform: scale(1.05);
    text-shadow: 0 0 1vw rgba(255, 255, 255, 0.5);
    background-image: repeating-linear-gradient(90deg, #4158D0, #C850C0, #FFCC70, #C850C0, #4158D0);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    animation: gradient 5s linear infinite;
}

.slides{
    width: 100%;
    height: 100vh;
    overflow: scroll;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
}

.titlePage, .worksPage, .aboutPage{
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}

.worksPage{
    width: 100%;
    height: 100vh;
}

.parallaxContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.parallax img{
    position: absolute;
    z-index: 2;
    width: 50vmin;
    height: 50vmin;
}

.parallax .parallaxText{
    z-index: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 30vmin;
    color: white;
    line-height: 1;
    background-image: repeating-linear-gradient(90deg, #4158D0, #C850C0, #FFCC70, #C850C0, #4158D0);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    animation: gradient 5s linear infinite;
    text-shadow: 0 -10px 50px rgba(255, 255, 255, 0.3);
}

.parallax:hover{
    cursor: default;
}