@keyframes gradient {
    0% {background-position: 0% 50%;}
    100% {background-position: 200% 50%;}
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --background-color: black;
    --text-color: white;
    --border-color: white;
    --icon-color: white;
    --shadow-color: rgba(255, 255, 255, 0.3);
}

body {
    opacity: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease-in-out, text-color 0.3s ease-in-out, border-color 0.3s ease-in-out, icon-color 0.3s ease-in-out, text-shadow 0.3s ease-in-out, box-shadow 0.3s ease-in-out, opacity 1s ease-in-out;
}

.theme-toggle {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

html, body{
    margin: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.navbar {
    z-index: 3;
    box-sizing: border-box;
    position: fixed;
    display: flex;
    width: 98vw;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins';
    font-weight: bold;
    border-style: solid;
    border-color: var(--text-color);
    border-width: 0.5vh;
    border-radius: 5vh;
    padding-inline: 1vmax;
    margin-top: 3vh;
    box-shadow: 0 0 50px var(--shadow-color);
}

.home, .works, .about {
    text-decoration: none;
}

.iconList {
    display: flex;
    gap: 1vw;
    list-style: none;
    padding: 0;
    margin: 1vw;
}

.iconList a {
    color: var(--text-color);
    font-size: 3vh;
    list-style: none;
    transition: text-shadow 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.iconList a:hover {
    font-size: 3.05vh;
    cursor: pointer;
    text-shadow:  0 0 20px var(--shadow-color);
    background-image: repeating-linear-gradient(90deg, #4158D0, #C850C0, #FFCC70, #C850C0, #4158D0);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    animation: gradient 5s linear infinite;
}

.navbarLogo {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
}

.navbarLogo:hover {
    cursor: pointer;
}

.home {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3vh;
    background-image: repeating-linear-gradient(90deg, #4158D0, #C850C0, #FFCC70, #C850C0, #4158D0);
    background-size: 200% 200%;
    color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    animation: gradient 5s linear infinite;
    transition: text-shadow 0.3s ease-in-out;
}

.home:hover {
    cursor: pointer;
    text-shadow: 0 0 30px var(--shadow-color);
}

.right {
    display: flex;
    font-size: 2vh;
    color: white;
}

.works, .about, .theme-toggle {
    color: var(--text-color);
    margin-inline: 1vw;
    font-size: 2vh;
    align-items: right;
    transition: text-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.works:hover, .about:hover, .theme-toggle:hover {
    cursor: pointer;
    transform: scale(1.05);
    text-shadow: 0 0 30px var(--shadow-color);
    background-image: repeating-linear-gradient(90deg, #4158D0, #C850C0, #FFCC70, #C850C0, #4158D0);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    animation: gradient 5s linear infinite;

}

.slides{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
}

.downArrow a{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vh;
    color: var(--text-color);
    bottom: 0;
    margin-bottom: 1vh;
    text-decoration: none;
    transition: font-size 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.downArrow a:hover{
    font-size: 3.05vh;
    text-shadow: 0 0 20px var(--shadow-color);
}

.titlePage, .worksPageTitle, .worksPage1, .worksPage2, .worksPage3, .aboutPage{
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}

.parallaxContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.parallax {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.parallax img{
    position: absolute;
    width: 50vmin;
    height: 50vmin;
}

.parallaxText{
    pointer-events: none;
    text-align: center;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 30vmin;
    line-height: 1;
    background-image: repeating-linear-gradient(90deg, #4158D0, #C850C0, #FFCC70, #C850C0, #4158D0);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    animation: gradient 5s linear infinite;
    text-shadow: 0 -10px 50px var(--shadow-color);
}

.parallax:hover{
    cursor: default;
}

.worksTitle{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    cursor: default;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 10vmin;
    background-image: repeating-linear-gradient(90deg, #4158D0, #C850C0, #FFCC70, #C850C0, #4158D0);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    animation: gradient 5s linear infinite;
    text-shadow: 0 0 30px var(--shadow-color);
}

.worksPage1{
    background-image: url("assets/YouTubeDownloader.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-attachment: fixed;
}

.worksPage2{
    background-image: url("assets/AegisCore.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 5% 50%;
    background-attachment: fixed;
}

.worksPage3{
    background-image: url("assets/GakkoKinesis.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-attachment: fixed;
}

.aboutPage{
    background-image: url("assets/CasualPicture.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-attachment: fixed;
}

.works1, .works2, .works3, .aboutText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    width: 50vw;
    padding-inline: 3vw;
    gap: 1vh;
}

.works2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    width: 50vw;
    padding-inline: 3vw;
    gap: 1vh;
    margin-left: auto;
}

.works1 h2, .works2 a, .works3 h2, .aboutPage h1{
    cursor: pointer;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 10vmin;
    line-height: 1.3;
    background-image: repeating-linear-gradient(90deg, #4158D0, #C850C0, #FFCC70, #C850C0, #4158D0);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    animation: gradient 5s linear infinite;
    text-shadow: 0 0 20px var(--shadow-color);
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.line1, .line2, .line3, .lineAbout{
    width: 25vw;
    height: 0.5vh;
    margin-right: 100vw;
    background-color: var(--text-color);
    padding: 0;
}

.works1 p, .works2 p, .works3 p, .aboutText p{
    cursor: default;
    width: 50vw;
    font-family: 'Poppins';
    font-size: 3vmin;
    text-align: justify;
    color: var(--text-color);
    text-shadow: 0 0 20px var(--shadow-color);
    margin: 0;
    padding: 0;
}

@media screen and (orientation: portrait) {
    .navbar {
        width: 90vw;
        height: 50px;
        margin-top: 5vw;
    }
    .iconList a{
        font-size: 2vh;
    }
    .navbarLogo {
        display: block;
    }
    .works, .about, .theme-toggle {
        font-size: 1.5vh;
    }
    .home {
        display: none;
    }
    .desktop-logo {
        display: block;
    }
    .parallax .parallaxText {
        font-size: 15vmin;
    }
    .parallax img{
        position: absolute;
        width: 25vmin;
        height: 25vmin;
    }
    .mobile-hide {
        display: none;
    }
    .downArrow a{
        bottom: 10vh;
    }
    .worksPage1, .worksPage2, .worksPage3{
        background-position: 50% 30%;
        background-size: 90vw;
    }
    .aboutPage{
        background-position: 50% 5%;
        background-size: 80vw;
    }
    .works1, .works2, .works3, .aboutText{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        padding-inline: 0vw;
        padding-top: 20vh;
        gap: 1vh;
    }
    .works1 h2, .works2 a, .works3 h2, .aboutPage h1{
        width: 90vw;
    }
    .line1, .line2, .line3, .lineAbout{
        width: 70vw;
        height: 0.5vh;
        margin-right: 24.5vw;
        background-color: var(--text-color);
        padding: 0;
    }
    .works1 p, .works2 p, .works3 p, .aboutText p{
        width: 90vw;
        padding: 0;
    }
}